.form-avatar
    background-color: transparent
    outline: none
    padding: 0
    border: none
    display: flex
    flex-direction: column
    align-items: center
    &_img
        width: 60px
        height: 60px
        border-radius: 50%
.form-background
    background-color: transparent
    outline: none
    padding: 0
    border: none
    display: flex
    flex-direction: column
    align-items: center
    &_img, &_img1
        width: 100%
        height: 100%
    &_img1
        @media screen and (max-width: 620px)
            width: 100px
            height: 100px
            