.product
    width: 96%
    margin: 0 auto
    gap: 1%
    display: grid
    grid-template-columns: 1fr 1fr
    .product-slider
        display: flex
        flex-direction: row
.big-image
    height: 400px
    // width: 100%
    margin: 0 auto
.small-image
    width: 100%
    margin: 1%
    display: flex
    justify-content: center
.slider-img
    height: 125px
    cursor: pointer
.main-image
    display: flex
    justify-content: center
.addToBasket
    width: 169px
// .btn-minus
//     padding: 0
//     margin: 0
//     font-size: 10px
//     box-sizing: border-box
