.fullpost
    width: 96%
    margin: 0 auto
    .fullpost-top
        display: flex
        justify-content: space-between
        align-items: center
        &_member
            display: flex
            align-items: center
            img
                margin-right: 10px
        div
            display: flex
            gap: 10px
    .post-img
        // width: 100%
        width: 48%
        float: left
        margin: 0 25px 6px 0
        @media screen and (max-width: 720px)
            width: 100%
            margin: 0 auto

.fullproduct-content
    gap: 2%
    margin-top: 20px
    @media screen and (max-width: 720px)
        display: grid
        grid-template-columns: 1fr

.fullpost-buttons
    background-color: transparent
    outline: none
    padding: 0
    border: none
    img
        width: 38px
.fullpost-text
    p
        margin: 10px
        text-indent: 1.5em
    p:nth-child(1)
        text-indent: 0
    ul
        li
            list-style-type: disc
    ol
        li
           list-style-type: decimal 